<div class="container-fuid">
    <div class="logoargprog" >
        <img src=" ../../../../../assets/5.png" id="logo-argp">
    </div>
    
    <div class="redessociales">
        <a href="https://www.facebook.com/maxi.vallejo"target="_blank"><img src=" ../../../../../assets/2.png" id="logo-fb"> </a>
        <a href="https://www.instagram.com/maxi.vallejo91/?hl=es" target="_blank"><img src=" ../../../../../assets/1.png" id="logo-ig"> </a>
        <a href="https://github.com/MaximilianoVallejo1991" target="_blank"><img src=" ../../../../../assets/3.png" id="logo-gh"> </a>
  
        <img src=" ../../../../../assets/4.png" id="logo-lk"> 
    
    </div>
</div>
