<div class="container-fluid">

    <div class="row">
        
        <div id="logos" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <app-logos-ap>  
                </app-logos-ap>
                &nbsp;
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
                <p>&nbsp; #YO PROGRAMO</p>
                
        </div>

    </div>

</div>