#logos{
    background-color:#011140 ;
    padding: 50px;
    padding-bottom: 0px;   
    
   
}   

#headertext{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color:#011140 ;
    padding-left: 50px;
    font-size: 20px;
}

