#logos{
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(77, 12, 146), rgb(24, 79, 173));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(74, 12, 141), rgb(24, 79, 173));
    padding-bottom: 20px;
    padding-top: 20px;   
    padding-left: 0%;
    padding-left: 0%;
}   
