<div class="container-fluid">
    <div class="row">
        <h1>Experiencia Laboral</h1>
        <div>
            <ul>
                <li>
                    <h1>Trabajo 1</h1><h3>(años)</h3>
                </li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio tenetur blanditiis nisi dignissimos dolores quae earum rerum impedit incidunt, ea qui et consectetur placeat ducimus est saepe neque libero mollitia.</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 2</h1><h3>(años)</h3>
                </li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio tenetur blanditiis nisi dignissimos dolores quae earum rerum impedit incidunt, ea qui et consectetur placeat ducimus est saepe neque libero mollitia.</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 3</h1><h3>(años)</h3>
                </li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio tenetur blanditiis nisi dignissimos dolores quae earum rerum impedit incidunt, ea qui et consectetur placeat ducimus est saepe neque libero mollitia.</p>
            </ul>
        </div>
    </div>
</div>
