@media (max-width: 767px) {

    #foto-de-perfil {
        
        width: 100%;
        padding-inline: 25%;
        margin-top: -15%;
        border-radius: 60%;
        
    }

    #nombre{
        
        text-align: center;

    }

}

@media (min-width: 768px) {

    #foto-de-perfil {
        
        width: 100%;
        border-radius: 50%;
        margin-top: -40%;

    }

    #introductorio{

        padding: 4%;
        
    }
    
    #nombre{

        font-size: 10em;
        text-align: left;
        margin-top: 6%;
    }

}

