<div class="container-fluid" >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 offset-lg-1">
            <img src="../../../assets/Maxi.jpeg" class="img fluid" id="foto-de-perfil">
        </div>

        <div  id="nombre" class="col-xs-12 col-sm-12 col-md-6 col-lg-8 offset-lg-1">
            <h1 > {{persona.nombre}} {{persona.apellido}}</h1>
            <h2 >Programador Full Stack Jr</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="introductorio" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            
                <h1>Acerca de mi</h1>
                <h4>Me considero trabajador y proactivo, con gran capacidad de resolucion de problemas y amplia experiencia de trabajo en equipo.
                    Me gusta sentirme util y optimizar el tiempo en todos los procesos en los que me involucro, sin dejar de lado las cuestiones interpersonales.
                </h4>
            
        
       </div>

    </div>

</div>