<div class="container-fluid" >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 offset-lg-1">
            <img src="../../../assets/Maxi.jpeg" class="img fluid" id="foto-de-perfil">
        </div>

        <div  id="nombre" class="col-xs-12 col-sm-12 col-md-6 col-lg-8 offset-lg-1">
            <h1 > {{persona.nombre}} carlitos </h1>
            <h2 >Programador Full Stack Jr</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="introductorio" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            
                <h1>Acerca de mi</h1>
                <h4>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Deserunt rem laudantium, 
                incidunt accusantium, ratione facere possimus 
                magnam nemo praesentium ea minus! Soluta asperiores 
                ducimus totam modi, accusamus commodi illo cupiditate.
                </h4>
            
            
            <button  id="boton-more" class="btn btn-primary">

                <i class="fa-solid fa-plus"></i>
                
            </button>            
            <button id="boton-edit" class="btn btn-primary">
                
                <i class="fa-solid fa-square-pen"></i>

            </button>
            <button  id="boton-trash" class="btn btn-primary">
                
                <i class="fa-solid fa-trash"></i>
                
            </button>

       </div>

    </div>

</div>