h1{
    margin-bottom: 5%;
    margin-top: 5%;
    
    margin-right: 0%;
    margin-left: 0%;
    padding: 0%;
}

#titulo-proyecto{
    
    margin-bottom: 5%;
    margin-right: 0%;
    margin-left: 0%;

}

table{
    background-color: #00020D;
    color:#d24edb;
    font-family: 'Amatic SC', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Share Tech Mono', monospace;
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-size: 1.5em;
    
    }
