<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 id="hard">
                Hard & Soft skills
                <button id="boton-more" class="btn btn-primary" routerLink="/nuevoski" *ngIf="isLogged ">

                    <i class="fa-solid fa-plus"></i>
                </button>
            </h1>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="tecnologia" *ngFor="let Skills of skills">
            <div class="card">
                <img src="../../../assets/skills/html.png">
                <h3>HTML</h3>
                <h4>90<span>%</span></h4>
                <div class="BOTONES">
                    <button id="boton-edit" class="btn btn-primary" routerLink="/editproy/{{Skills.id}}"
                    *ngIf="isLogged ">

                    <i class="fa-solid fa-square-pen"></i>
                    </button>
                    <button id="boton-trash" class="btn btn-primary" (click)="delete(Skills.id)">

                        <i class="fa-solid fa-trash"></i>

                    </button>

                </div>
            </div>
            

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="tecnologia" *ngFor="let Skills of skills">
            <div class="card">
                <img src="../../../assets/skills/mysql.png">
                <h3>MySQL</h3>
                <h4>80<span>%</span></h4>
                <div class="BOTONES">
                    <button id="boton-edit" class="btn btn-primary" routerLink="/editproy/{{Skills.id}}"
                    *ngIf="isLogged ">

                    <i class="fa-solid fa-square-pen"></i>
                    </button>
                    <button id="boton-trash" class="btn btn-primary" (click)="delete(Skills.id)">

                        <i class="fa-solid fa-trash"></i>

                    </button>

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="tecnologia" *ngFor="let Skills of skills">
            <div class="card">
                <img src="../../../assets/skills/spring boot.png">
                <h3>Spring Boot</h3>
                <h4>75<span>%</span></h4>
                <div class="BOTONES">
                    <button id="boton-edit" class="btn btn-primary" routerLink="/editproy/{{Skills.id}}"
                    *ngIf="isLogged ">

                    <i class="fa-solid fa-square-pen"></i>
                    </button>
                    <button id="boton-trash" class="btn btn-primary" (click)="delete(Skills.id)">

                        <i class="fa-solid fa-trash"></i>

                    </button>

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="tecnologia" *ngFor="let Skills of skills">
            <div class="card">
                <img src="../../../assets/skills/java.png">
                <h3>java</h3>
                <h4>75<span>%</span></h4>
                <div class="BOTONES">
                    <button id="boton-edit" class="btn btn-primary" routerLink="/editproy/{{Skills.id}}"
                    *ngIf="isLogged ">

                    <i class="fa-solid fa-square-pen"></i>
                    </button>
                    <button id="boton-trash" class="btn btn-primary" (click)="delete(Skills.id)">

                        <i class="fa-solid fa-trash"></i>

                    </button>

                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="tecnologia" *ngFor="let Skills of skills">
            <div class="card">
                <img src="../../../assets/skills/css.png">
                <h3>css</h3>
                <h4>90<span>%</span></h4>
                <div class="BOTONES">
                    <button id="boton-edit" class="btn btn-primary" routerLink="/editproy/{{Skills.id}}"
                    *ngIf="isLogged ">

                    <i class="fa-solid fa-square-pen"></i>
                    </button>
                    <button id="boton-trash" class="btn btn-primary" (click)="delete(Skills.id)">

                        <i class="fa-solid fa-trash"></i>

                    </button>

                </div>
            </div>

        </div>

    </div>



</div>