<div class="container-fluid">
    
    <h1 id="hard">
        Hard & Soft skills
    </h1>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 offset-lg-1">
            
            <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [backgroundColor]="'white'"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            > </circle-progress>
    
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

                <button id="boton-acerca" class="btn btn-primary">

                    <i class="fa-solid fa-plus"></i>
                    
                </button>            
                <button id="boton-acerca" class="btn btn-primary">
                    
                    <i class="fa-solid fa-square-pen"></i>

                </button>
                <button id="boton-acerca" class="btn btn-primary">
                    
                    <i class="fa-solid fa-trash"></i>
                    
                </button>

        </div>
        
    </div>

    

</div>
