
body{
    background-color: #00020D;
    color:#d24edb;
    font-family: 'Amatic SC', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Share Tech Mono', monospace;
    margin: 0%;
    padding: 0%;
    border: 0%;
    
    }

